@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
  button, a, [role="button"] {
    cursor: pointer;
  }
}
